<div>
  <mat-card-header>
    <mat-card-title style="font-weight: bold;font-size: 50px; text-align: right;"><img src="assets/img/sacumen-logo.png">RESOURCE ALLOCATION</mat-card-title>
</mat-card-header>
</div>
<h2 style='text-align: center;'>QUARTER(APR-MAR 2021)</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Customer Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef> Customer </th>
      <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
    </ng-container>
  
    <!-- Project Column -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Project </th>
      <td mat-cell *matCellDef="let element"> {{element.project}} </td>
    </ng-container>
  
    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>
  
    <!-- Team Member Column -->
    <ng-container matColumnDef="team_member">
      <th mat-header-cell *matHeaderCellDef> Team Member </th>
      <td mat-cell *matCellDef="let element"> {{element.team_member}} </td>
    </ng-container>

     <!-- Project Lead Column -->
    <ng-container matColumnDef="project_lead">
        <th mat-header-cell *matHeaderCellDef> Project Lead </th>
        <td mat-cell *matCellDef="let element"> {{element.project_lead}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>